.Panel {
  display: flex;
  height: 100vh;
}
.Panel__sidebar {
  width: 30%;
  background-color: cornflowerblue;
}
.Panel__addition {
  width: 80px;
  background-color: darkorange;
}
.Panel__main {
  flex-grow: 1;
  width: 0;
}