.Panel {
  display: flex;
  height: 100vh;
}
.Panel__sidebar {
  width: 30%;
  background-color: cornflowerblue;
}
.Panel__addition {
  width: 5em;
  background-color: darkorange;
}
.Panel__main {
  flex: 1 1;
  border: 1px solid red;
}
.Panel__main__bottom {
  height: 30%;
  background-color: cornflowerblue;
}
.Panel-footerWithConstantHeight {
  height: 10%;
  padding: .6em;
}