.Panel {
  display: grid;
  height: 100vh;
  grid-template-columns: auto auto 1fr;
}
.Panel__sidebar {
  width: 16em;
  background-color: cornflowerblue;
}
.Panel__addition {
  width: 5em;
  background-color: darkorange;
}
.Panel__main {
  flex: unset !important;
  border: 1px solid red;
}
.Panel__main__bottom {
  height: 30%;
  background-color: cornflowerblue;
}
.Panel-footerWithConstantHeight {
  height: 10%;
  padding: .6em;
}