.DraggableBorder {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: black;
  cursor: col-resize;
  user-select: none;
  &.is-vertical {
    cursor: row-resize;
  }
  &.is-snapped {
    background-color: deeppink;
  }
}