.DraggableBorder {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: black;
  cursor: col-resize;
  user-select: none;
  &.is-top, &.is-bottom {
    cursor: row-resize;
  }
  &.is-snapped {
    background-color: deeppink;
  }
}

.DraggableBorder-parent {
  display: flex;
}
.DraggableBorder-parent.is-top, .DraggableBorder-parent.is-bottom {
  flex-direction: column;
}
.DraggableBorder-stretch {
  flex: 1 1;
}
